body {
  /* background: -webkit-linear-gradient(left, rgb(94, 42, 36),darkred,rgb(26, 25, 25)); */
  background: black;
  cursor: default;
  margin-inline: 0;
}

img {
  width: 100%;
  outline: 3px solid yellow;
  /* border:3px solid red;
    box-shadow: 5px 10px #ff0000; */
}

span {
  color: white;
  font-weight: bolder;
  text-shadow: none;
}

h1 {
  text-align: center;
  font-size: 64px;
  color: white;
  font-weight: bolder;
  text-shadow: 3px 3px 6px wheat;
  position: absolute;
  top: 40%;
  left: 20%;
}

h2 {
  color: #3498db;
}

p {
  color: #555;
}

.navbarContainer {
  background-color: none;
  /*outline: 3px solid red;*/
  position: absolute;
  display: block;
  width: 100dvh;
  min-height: 250px;
  top: 0;
  right: 0;
  z-index: 1;
}

.navbar {
  background-color: none;
  text-align: center;
  width: 650px;
  -webkit-text-fill-color: wheat;
  -webkit-text-size-adjust: initial;

  a {
    float: left;
    font-size: 16px;
    color: wheat;
    text-align: center;
    padding: 14px 16px;
    margin: 0 14px;
    text-decoration: none;
    
  }
}

.dropdown {
  float: left;
  overflow: hidden;

  .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: wheat;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

}
@keyframes zoomInTextNavbar {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.75, 1.75);
  }

  100% {
    transform: scale(1.5, 1.5);
  }
}

.navbar {
  a:hover,
  .dropdown:hover .dropbtn {
    background-color: none;
    animation-name: zoomInTextNavbar;
    animation-duration: 2s;
    animation-play-state: inherit;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }
}

@keyframes fillDropButtonWcolor {
  0% {
    background-color: red;
  }

  50% {
    background-color: darkred;
  }

  100% {
    background-color: crimson;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  animation-name: fillDropButtonWcolor;
  animation-duration: 5s;
  animation-play-state: running;
  animation-iteration-count: infinite;

  a {
    float: none;
    color: black;
    font: 1rem sans-serif;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
}
@keyframes FillwColorDropdownContentHover {
  0% {
    background-color: red;
  }

  50% {
    background-color: gray;
  }

  100% {
    background-color: violet;
  }
}

.dropdown-content {
  a:hover {
    background-color: #ddd;
    animation-name: FillwColorDropdownContentHover;
    animation-duration: 5s;
    animation-iteration-count: inherit;
    animation-play-state: running;
  }
}

.dropdown:hover {
  .dropdown-content {
    display: block;
  }
}

.cool-section {
  padding: 50px;
  text-align: center;
}

.section-content {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: grab;
  font-size: 16px;
  transition: background-color .3s ease-in-out;

  :hover {
    background-color: #2980b9;
  }
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.header {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

#parallax {
  width: 100%;
  height: 100vh;
  background: black;
  background-attachment: fixed;
  background-size: cover;

}
