
body {
  background: black;
  cursor: default;
  margin-inline: 0;
  overflow-x: hidden;
}

span {
  color: darkmagenta;
  font-weight: bolder;
  text-shadow: 3px 3px 6px magenta;
  filter: blur(2px);
  filter: contrast(100);

  &.username-text {
    color: darkmagenta;
    text-shadow: 3px 3px 25px magenta;
    font-size: 24px;
    position: relative;
    top: auto;
    left: 45%;
  }
  &.icon {
    margin-left: 5px;
    color: wheat;
    position: relative;
    top: auto;
    left: 45%;
  }
}

a {
  text-decoration: none;
  padding-right: 15px;
  
}

h1 {
  text-align: center;
  font-size: 64px;
  color: white;
  font-weight: bolder;
  text-shadow: 3px 3px 6px red;
  position: absolute;
  top: 40%;
  left: 20%;
}

h2 {
  color: #2980b9;
}

h3 {
  color: yellow;
  text-align: right;
  position: absolute;

}

h4 {
  color: darkmagenta;
  font-size: 64px;
  text-align: center;
  position: absolute;
  top: 36%;
  right: 20%;
}

p {
  color: gray;
  font-weight: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  filter: drop-shadow(2px 2px 4px darkmagenta);
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex: 1;
  position: relative;
  margin-top: -8px;
  top: auto;
  left: auto;
  padding: 15px;
  background: conic-gradient(from 21.3416rad at 85% 1%, black, rgb(79, 1, 79));

  border-radius: 5px;

}

.navbarContainer {
  
  filter: hue-rotate(-0.25turn);
  /*outline: 3px solid red;*/
  position: absolute;
  display: block;
  width: 50dvh;
  min-height: 20px;
  top: 50px;
  right: 230px;
  z-index: 1;
}

.navbar {
  background-color: none;
  text-align: center;
  width: auto;
  font-weight: bolder;
  -webkit-text-fill-color: whitesmoke;
  -webkit-text-size-adjust: initial;
  
  a {
    background-color: none;
    color: none;
    float: left;
    font-size: 18px;
    text-align: center;
    text-shadow: 3px 3px 1px yellow;
    padding: 14px 16px;
    margin: 0 14px;
    
    
  }
}

.dropdown {
  float: left;
  overflow: hidden;

  .dropbtn {
    padding: 0px 20px;
    background-color:transparent;
  }
}

@keyframes zoomInTextNavbar {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.23, 1.23);
  }

  100% {
    transform: scale(1.23, 1.23);
    -webkit-text-stroke-color:red;
  }
}


.navbar {
  
  a:hover {
    background-color: none;
    animation-name: zoomInTextNavbar;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }
}

.forms-navbar {
  display: block;
  position: absolute;
  padding: 50px 10px 25px 30px;

  #link {
    
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    &:hover{
      color:darkmagenta;
      filter: contrast(100);
      font-size: 24px;
    }
  }
}

@keyframes pulsingBackground {
  0% {
    background-color: #000; }

  25% {
    background-color: #291836; }

  40% {
    background-color: #2d173e; }

  50% {
    background-color: #240f34; }

  75% {
    background-color: #240a38; }

  90% {
    background-color: #150422; }

  100% {
    background-color: #000; }
}

@keyframes zoomingBackground {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}


button {
  background-color: darkred;
  filter: drop-shadow(2px 2px 15px red);
  border: none;
  cursor: grab;
  font: 1rem sans-serif;

  &:hover {
    text-align: center;
    color:black;
    -webkit-text-fill-color: black;
    
  }
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.header {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  
  
}

.parallax-container {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.parallax-section {
  height: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
}

.parallax-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 24px;
}

.parallax-section1 {
  background-image: url('../images/blackbg.jpg');
  filter: contrast(10);
  
}

.parallax-section2 {
  background-image: url('../images/orangebg.jpg');
  
  filter: contrast(5);
}

.section-flex-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  
  filter: drop-shadow(10px 10px 30px  purple);
}

.section-flex {
  display: flex;
  padding: 50px;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 200px;

  
  #item1 {
    color: red;
    -webkit-text-fill-color: red;
    padding: 4px 2px 2px 4px;
  }

  #item2 {
    padding: 4px 2px 2px 4px;
  }

  #item3 {
    padding: 4px 2px 2px 4px;
    justify-self: center;
  }
}

.section-design1, .section-design2, .section-design3 {
  background-image: url("../images/blackbg.jpg");
  background-color: rgb(32, 2, 2);
  border-radius: 8px;
  box-shadow: 0.9px 0.9px 20px white;
  height: 400px;
  width: 350px;
  padding: 25px;

  &:hover{
    animation: zoomingBackground;
    animation-play-state: running;
    animation-duration: 10s;
    animation-iteration-count:infinite;
    animation-fill-mode: forwards;
    animation-composition: inherit;
  }

  &.section-design1:hover {

    background-image: url('../images/orangebg.jpg');

    p {
      color: darkred;
      text-shadow: 2px 2px 0px black;
      font-weight: bold;
    }
  }

  &.section-design2:hover {

    background-image: url('../images/bluebg.jpg');

    p {
      color: #28c193;
      text-shadow: 2px 2px 1px black;
      font-weight: bold;
      
    }
  }
  

  &.section-design3:hover{

    background-image: url('../images/blackwhitebg.jpg');

    p {
      color: rgb(193, 186, 186);
      text-shadow: 2px 2px 1px black;
      
    }
  }
}

@keyframes zoomFooterIcons {
  from {
    transform: scale(1, 1)
  }
  to {
    transform: scale(1.8, 1.8)
  }
}

#flex-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: auto;
  width: auto;
  height: 200vh;
  
}



#flex-footer-container {
  display: flex;
  padding: 50px;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 200px;

  #github,
  #instagram,
  #python,
  #youtube,
  #weather {
    flex: 1;
    padding: 20px;
    :hover {
      filter: drop-shadow(2px 2px 10px wheat);
      animation-name:zoomFooterIcons;
      animation-duration: 3s;
      animation-play-state: running;
    }
  }
}

#flex-footer-design {
  
  padding: 25px;
}


/* PHONE VIEW  - 900px screen size */

@media only screen and (max-width: 900px) {
  
  h1 {
    font-size: medium;
    top: 188px;
    left: 40px;
    right: 40px;
  }

  h4 {
    top: 405px;
    left: 31px;
    right: 40px;
  }

  p {
    color: white;
  }

  img {
    width: auto;
    height: 60%;

  }

  span {
    color: darkmagenta;
    font-weight: bolder;
    text-shadow: 3px 3px 6px magenta;
    filter: blur(1.2px);
  }
  

  .navbarContainer {
    top:50px;
    left:120px;
  }

  .navbar {
    position: relative;
    top:40px;
    left:10px;
    .dropdown:hover .dropbtn,
    a:hover {
      background-color: none;
      animation-name: zoomInTextNavbar;
      animation-duration: 2s;
      animation-play-state: inherit;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: backwards;
    }
  } 

  .section-content {
    background-color: black;
  }

  .section-flex-container{
    display: flex;
    padding: none;
    align-items: center;
    flex-direction: column;
  }

  .flex-section {
    display: block;
  }

  .parallax-container {
    height: 200vh;
    overflow: hidden;
    position: relative;
  }
  #flex-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
    width: auto;
    height: 200vh;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1440px) {

  h1 {
    font-size: medium;
    top: 188px;
    left: 40px;
    right: 40px;
  }

  h4 {
    top: 405px;
    left: 31px;
    right: 40px;
  }

  .navbarContainer {
    top: 50px;
    left: 380px;
  }

  .navbar {
    position: relative;
    top:40px;
    left:10px;
  }
  #flex-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
    width: auto;
    height: 200vh;
  }
}

