body {
  background-color: rgb(43, 38, 38);
  overflow-y: hidden;
}

h4 {
  color: aqua;
  position: relative;
  top: auto;
  left: 1%;

}

a[href*="home"] {
  color: white;
  background-color: red;
}

.form-container {
  height: 90%;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
  border-radius: 8px;
  background-color: rgb(148, 21, 148);
  box-shadow: 0.9px 0.9px 20px black;
  padding: 25px;

  #item1,
  #item2,
  #item3,
  #item4 {
    color:aquamarine;
    -webkit-text-fill-color: white;

  }  
  button {
    background-color: rgb(255, 255, 255);
    border-radius: 5%;
    &:hover{
      background-color: gray;
      color: wheat;
    }
  }

}




@media only screen and (max-width:900px) {
  .form-container {
    position: relative;
    margin-block-start: auto;
    margin-inline-start: auto;
    left: 50px;
  }
}