body {
  perspective: none;
  background: url("../images/weather.jpg");
  overflow-x: hidden;
}

img {
  height: auto;
  width: auto;
}

#bgimg {
  height: 100%;
  width: 100%;
}

#map {
  height: 600px;
  width: 70%;
  position: fixed;
  top: -200px;
  left: 250px;
  border: 4px rgb(30, 30, 25) solid;
  box-shadow: 5px 5px 84px rgb(227, 141, 2);
  filter: drop-shadow(12px 12px 24px black);
}

h1 {
  position: absolute;
  filter: blur(1px);
  filter: contrast(2);
  filter: drop-shadow(24px 24px 12px rgb(0, 0, 0));
  top: -20px;
  left: 625px;
  color: rgb(211, 182, 182);
}

h2 {
  display: inline-block;
  text-align: start;
  font-weight: bolder;
  letter-spacing: 3px;
  filter: drop-shadow(1px 1px 0px rgb(0, 0, 0));
  font-size: 36px;
  padding-left: 10px;
  -webkit-text-fill-color: rgb(255, 0, 0);
  font-weight: bolder;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  font-weight: bolder;
  position: relative;
  left: 100px;
}

button {
  background-color: lightcoral;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.5s ease-in-out;
}
button:hover {
  background: linear-gradient(to right, #3498db, #2ecc71);
  border: none;
  color: #ffffff;
}

:root {
  --bgcolor: red;
  --textcolor: rgb(253, 118, 69);
}

.headerText {
  font-size: 32px;
  color: var(--textcolor);
  font-weight: var;
  text-shadow: 1px 1px 6px #ff0000;
  text-align: center;
}

.navbarContainer {
  /*Container navigacije za odlazak na druge stranice */
  display: inline-flex;
  position: fixed;
  align-items: center;
  flex-direction: row;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background: conic-gradient(from 21.3416rad at 39.4% 1%, rgb(210, 205, 205), rgb(50, 34, 19));
  height: 100px;
  width: 1920px;
  filter: blur(1px);
  filter: drop-shadow(5px 5px 20px rgb(255, 102, 0));
}

a {
  position: relative;
  left: 1400px;
  top: 25px;
  -webkit-text-fill-color: rgb(79, 39, 2);
  text-shadow: 3px 3px 6px darkred;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  top: 22%;
  left: 42%;
  font: 1.5em sans-serif;
  font-style: oblique;
  width: 15em;
  height: 25em;
  filter: drop-shadow(2px 2px 10px rgb(230, 0, 255));
}
.flex-container .flex-item1 {
  flex-direction: directionForflexItems;
  padding: 0.2%;
  color: red;
  margin: 1%;
}
.flex-container .flex-item3, .flex-container .flex-item4,
.flex-container .flex-item2 {
  flex-direction: directionForflexItems;
  padding: 0.2%;
  -webkit-text-fill-color: white;
}
.flex-container .flex-item5 {
  flex-direction: directionForflexItems;
  padding: 0.2%;
  -webkit-text-fill-color: black;
  margin: 1%;
  text-align: center;
}
.flex-container .flex-item6 {
  flex-direction: directionForflexItems;
  padding: 0.2%;
  -webkit-text-fill-color: white;
  margin: 1%;
  padding-top: 25px;
  text-align: center;
}

input {
  border: 2px solid #3498db;
  border-radius: 5px;
  background-color: #ecf0f1;
  caret-color: red;
  padding: 10px;
  color: #2c3e50;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease-in-out;
}
input:hover {
  border-color: #e74c3c;
  filter: drop-shadow(10px 10px 100px yellow);
}

bottom-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 400px;
  left: 550px;
}
bottom-section #items {
  font-size: 42px;
}

@media only screen and (max-width: 600px) {
  .navbarContainer {
    left: 0;
  }
  #bgimg {
    height: auto;
    width: auto;
  }
  h2 {
    bottom: 25px;
    left: 1px;
    font-size: 24px;
  }
  a {
    top: -18px;
    left: 8px;
  }
  #map {
    height: 900px;
    width: 100%;
    position: fixed;
    top: -750px;
    left: 0%;
  }
  .flex-container {
    position: absolute;
    top: 15%;
    left: -185px;
    width: 50em;
  }
  .user-info1 {
    position: relative;
    top: -15px;
    left: -102px;
    width: 570px;
    padding: 10px;
    transform: translateX(1%);
  }
  .user-container {
    top: 25px;
    left: 2500px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 920px) {
  .navbarContainer {
    right: 2px;
  }
  h1 {
    color: beige;
  }
  h2 {
    bottom: 30px;
    font-size: 28px;
    left: 32px;
  }
  a {
    top: -18px;
    left: 20px;
  }
  #bgimg {
    height: auto;
    width: auto;
  }
  #map {
    height: 700px;
    width: 80%;
    position: fixed;
    top: -550px;
    left: 10.5%;
  }
  .flex-container {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
  }
  .user-info1 {
    position: relative;
    top: -1350px;
    left: auto;
    width: auto;
    padding: 15px;
    transform: translateX(5%);
  }
  .user-container {
    top: 25px;
    left: 2500px;
  }
}
@media only screen and (min-width: 921px) and (max-width: 1440px) {
  .navbarContainer {
    right: 2px;
  }
  h1 {
    color: transparent;
  }
  h2 {
    bottom: 25px;
    left: 95px;
  }
  a {
    top: -5px;
    left: 30px;
  }
  #bgimg {
    height: auto;
    width: auto;
  }
  #map {
    height: 800px;
    width: 70%;
    position: fixed;
    top: -200px;
    left: 15%;
  }
  .flex-container {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
  }
  .user-info1 {
    position: relative;
    top: auto;
    left: -100px;
    width: auto;
  }
  .user-container {
    top: 100px;
    left: -150px;
    width: 320px;
    padding: 52px;
    text-align: end;
  }
}
@media only screen and (min-width: 1441px) and (max-width: 1820px) {
  a {
    left: 45px;
  }
  .flex-container {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
  }
  .user-info1 {
    position: absolute;
    top: 80px;
    left: -25px;
    height: 50px;
    padding-right: 55px;
    padding-top: -15px;
    padding-left: -10px;
    transform: translateX(5%);
  }
}/*# sourceMappingURL=style-weather.css.map */