body {
  background: black;
  cursor: default;
  margin-inline: 0;
  overflow-x: hidden;
}

span {
  color: darkmagenta;
  font-weight: bolder;
  text-shadow: 3px 3px 6px magenta;
  filter: blur(2px);
}

a {
  text-decoration: none;
}

h1 {
  text-align: center;
  font-size: 64px;
  color: white;
  font-weight: bolder;
  text-shadow: 3px 3px 6px red;
  position: absolute;
  top: 40%;
  left: 20%;
}

h2 {
  color: #2980b9;
}

h3 {
  color: yellow;
  text-align: right;
  position: absolute;
}

h4 {
  color: darkmagenta;
  font-size: 64px;
  text-align: center;
  position: absolute;
  top: 36%;
  right: 20%;
}

p {
  color: gray;
  font-weight: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  filter: drop-shadow(2px 2px 4px darkmagenta);
}

.navbarContainer {
  background-color: black;
  filter: hue-rotate(-0.25turn);
  /*outline: 3px solid red;*/
  position: absolute;
  display: block;
  width: 50dvh;
  min-height: 20px;
  top: 50px;
  right: 230px;
  z-index: 1;
}

.navbar {
  background-color: none;
  text-align: center;
  width: auto;
  font-weight: bolder;
  -webkit-text-fill-color: whitesmoke;
  -webkit-text-size-adjust: initial;
}
.navbar a {
  float: left;
  font-size: 19px;
  font-weight: bolder;
  color: whitesmoke;
  text-align: center;
  text-shadow: 3px 3px 6px wheat;
  padding: 14px 16px;
  margin: 0 14px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 19px;
  border: none;
  outline: none;
  color: whitesmoke;
  font-weight: bolder;
  text-shadow: 3px 3px 6px wheat;
  padding: 14px 40px;
  background-color: transparent;
  font-family: inherit;
  margin: 0;
}

@keyframes zoomInTextNavbar {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.23, 1.23);
  }
  100% {
    transform: scale(1.23, 1.23);
    -webkit-text-stroke: 1.2px;
    -webkit-text-stroke-color: red;
  }
}
@keyframes pulsingBackground {
  0% {
    background-color: #000;
  }
  25% {
    background-color: #291836;
  }
  40% {
    background-color: #2d173e;
  }
  50% {
    background-color: #240f34;
  }
  75% {
    background-color: #240a38;
  }
  90% {
    background-color: #150422;
  }
  100% {
    background-color: #000;
  }
}
@keyframes zoomingBackground {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar .dropdown:hover .dropbtn,
.navbar a:hover {
  background-color: none;
  animation-name: zoomInTextNavbar;
  animation-duration: 2s;
  animation-play-state: inherit;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: wheat;
  background-color: black;
  font: 1rem sans-serif;
  font-weight: bold;
  padding: 12px 16px;
  display: block;
  text-align: left;
  margin-inline: auto;
}

.dropdown:hover .dropdown-content {
  display: block;
}

button {
  background-color: darkred;
  filter: drop-shadow(2px 2px 15px red);
  border: none;
  cursor: grab;
  font: 1rem sans-serif;
}
button:hover {
  text-align: center;
  color: black;
  -webkit-text-fill-color: black;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.header {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.parallax-container {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.parallax-section {
  height: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
}

.parallax-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 24px;
}

.parallax-section1 {
  background-image: url("../images/python.jpg");
}

.parallax-section2 {
  background-image: url("../images/python2.jpg");
}

.section-flex-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  filter: drop-shadow(10px 10px 30px purple);
}

.section-flex {
  display: flex;
  padding: 50px;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 200px;
}
.section-flex #item1 {
  color: red;
  -webkit-text-fill-color: red;
  padding: 4px 2px 2px 4px;
}
.section-flex #item2 {
  padding: 4px 2px 2px 4px;
}
.section-flex #item3 {
  padding: 4px 2px 2px 4px;
  justify-self: center;
}

.section-design1, .section-design2, .section-design3 {
  background-color: rgb(32, 2, 2);
  border-radius: 8px;
  box-shadow: 0.9px 0.9px 20px white;
  height: 400px;
  width: 350px;
  padding: 25px;
}
.section-design1:hover, .section-design2:hover, .section-design3:hover {
  animation: zoomingBackground;
  animation-play-state: running;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-composition: inherit;
}
.section-design1.section-design1:hover, .section-design2.section-design1:hover, .section-design3.section-design1:hover {
  background-image: url("../images/python2.jpg");
}
.section-design1.section-design1:hover p, .section-design2.section-design1:hover p, .section-design3.section-design1:hover p {
  color: lightgreen;
  font-weight: bold;
}
.section-design1.section-design1:hover button, .section-design2.section-design1:hover button, .section-design3.section-design1:hover button {
  background-color: lightgreen;
}
.section-design1.section-design2:hover, .section-design2.section-design2:hover, .section-design3.section-design2:hover {
  background-image: url("../images/android.jpg");
  animation: zoomingBackground;
  animation-play-state: running;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-composition: inherit;
}
.section-design1.section-design2:hover p, .section-design2.section-design2:hover p, .section-design3.section-design2:hover p {
  color: #2effc0;
  font-weight: bold;
}
.section-design1.section-design2:hover button, .section-design2.section-design2:hover button, .section-design3.section-design2:hover button {
  background-color: #2effc0;
}
.section-design1.section-design3:hover, .section-design2.section-design3:hover, .section-design3.section-design3:hover {
  background-image: url("../images/weather.jpg");
  animation: zoomingBackground;
  animation-play-state: running;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-composition: inherit;
}
.section-design1.section-design3:hover p, .section-design2.section-design3:hover p, .section-design3.section-design3:hover p {
  color: black;
  filter: none;
}
.section-design1.section-design3:hover button, .section-design2.section-design3:hover button, .section-design3.section-design3:hover button {
  background-color: white;
  color: gray;
}

@keyframes zoomFooterIcons {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.8, 1.8);
  }
}
#flex-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: auto;
  width: auto;
  height: 200vh;
}

#flex-footer-container {
  display: flex;
  padding: 50px;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 200px;
}
#flex-footer-container #github,
#flex-footer-container #instagram,
#flex-footer-container #python,
#flex-footer-container #youtube,
#flex-footer-container #weather {
  flex: 1;
  padding: 20px;
}
#flex-footer-container #github :hover,
#flex-footer-container #instagram :hover,
#flex-footer-container #python :hover,
#flex-footer-container #youtube :hover,
#flex-footer-container #weather :hover {
  filter: drop-shadow(2px 2px 10px red);
  animation-name: zoomFooterIcons;
  animation-duration: 3s;
  animation-play-state: running;
}

#flex-footer-design {
  padding: 25px;
}

.forms-navbar {
  background-color: black;
  display: ruby-base;
  position: absolute;
  top: 250px;
  left: 25px;
}
.forms-navbar #link {
  color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* PHONE VIEW  - 900px screen size */
@media only screen and (max-width: 900px) {
  h1 {
    font-size: medium;
    top: 188px;
    left: 40px;
    right: 40px;
  }
  h4 {
    top: 405px;
    left: 111px;
  }
  p {
    color: white;
  }
  img {
    width: auto;
    height: 60%;
  }
  span {
    color: darkmagenta;
    font-weight: bolder;
    text-shadow: 3px 3px 6px magenta;
    filter: blur(1.2px);
  }
  .navbarContainer {
    display: flex;
    position: absolute;
    flex-direction: row;
    flex-wrap: nowrap;
    top: 50px;
    left: 50px;
  }
  .navbar .dropdown:hover .dropbtn,
  .navbar a:hover {
    background-color: none;
    animation-name: zoomInTextNavbar;
    animation-duration: 2s;
    animation-play-state: inherit;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: backwards;
  }
  .section-content {
    background-color: black;
  }
  .flex-section {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */