
$bodycolor: black;
$textColorForFlexItems: white;
$h1fontSize: 32px;
$h1color: red;
$h1fontWeight: bolder;
$h1textShadow: 1px 1px 6px #ff0000;
$h1textAlign: center;
$directionForflexItems: column;
$paddingForFlexItems: .2%;

body {
  perspective: none;
  background: url("../images/red-glowing-weather-4k-qj-1920x1080.jpg");
}

img {
  height: auto;
  width: auto;
}

#bgimg {
  height: 100%;
  width: 100%;
  margin-bottom:-10px;
}

#map {
  height: 600px;
  width: 70%;
  position: fixed;
  top: -200px;
  left: 250px;
  box-shadow: 42px 32px 84px red;
  filter: drop-shadow(12px 12px 24px black);
}

h1 {
  position: absolute;
  filter: blur(1px);
  filter:contrast(2);
  filter: drop-shadow(24px 24px 12px rgb(0, 0, 0));
  top: -20px;
  left: 625px;
  color: rgb(211, 182, 182);
}

h2 {
  display: inline-block;
  text-align: start;
  font-weight: bolder;
  
  letter-spacing: 2px;
  filter: drop-shadow(1px 1px 0px white);
  font-size: 36px;
  padding-left: 10px;
  -webkit-text-fill-color: darkmagenta;
  font-weight: bolder;
  text-shadow: 3px 3px 6px magenta;
  font-weight: bolder;
  position: relative;
  left: 100px;
}



.user-info1 {
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: row;
  flex: 1;
  position: absolute;
  top: 100px;
  left: 1425px;
  width: 250px;
  padding: 15px;
  padding-right: 55px;
  background: conic-gradient(from 21.3416rad at 39.4% 1%, rgba(171, 3, 62, 0.566), rgb(25, 23, 23));

  border-radius: 5px;
  filter: contrast(5);
}

button {
  background-color: lightcoral;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.5s ease-in-out;
  &:hover {
    background: linear-gradient(to right, #3498db, #2ecc71);
    border: none;
    color: #ffffff;
  }
}

:root {
  --bgcolor: red;
  --textcolor: rgb(253, 118, 69);
}



.headerText {
  font-size: $h1fontSize;
  color: var(--textcolor);
  font-weight: var;
  text-shadow: $h1textShadow;
  text-align: $h1textAlign;
}

.navbarContainer {
  /*Container navigacije za odlazak na druge stranice */
  display: inline-flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  top: 0px;
  left: 0px;
  height: 40px;
  width: 100px;
  background: conic-gradient(from 21.3416rad at 39.4% 1%, rgb(190, 5, 5), rgb(203, 10, 100), );
  height: 100px;
  width: 1920px;
  filter: drop-shadow(5px 5px 20px rgb(127, 121, 117));

  
}

a {
  position: relative;
  left: 1400px;
  top: 25px;
  -webkit-text-fill-color: rgb(244, 100, 3);
  text-shadow: 3px 3px 6px darkred;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  top: 22%;
  left: 450px;
  font: 1em sans-serif;
  font-style: oblique;
  width: 55em;

  filter: drop-shadow(2px 2px 10px red);

  .flex-item1 {
    flex-direction: directionForflexItems;
    padding: $paddingForFlexItems;
    color: $h1color;
    margin: 1%;
  }

  & .flex-item3,
  & .flex-item4,
  .flex-item2 {
    flex-direction: directionForflexItems;
    padding: $paddingForFlexItems;
    -webkit-text-fill-color: white;
  }

  .flex-item5 {
    flex-direction: directionForflexItems;
    padding: $paddingForFlexItems;
    -webkit-text-fill-color: black;
    margin: 1%;
    text-align: center;
  }

  .flex-item6 {
    flex-direction: directionForflexItems;
    padding: $paddingForFlexItems;
    -webkit-text-fill-color: $textColorForFlexItems;
    margin: 1%;
    padding-top: 25px;
    text-align: center;
  }
}

input {
  border: 2px solid #3498db;
  border-radius: 5px;
  background-color: #ecf0f1;
  caret-color: red;
  padding: 10px;
  color: #2c3e50;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease-in-out;
  &:hover {
    border-color: #e74c3c;
    filter: drop-shadow(10px 10px 100px yellow);
  }
  
}

bottom-section {
  display: flex;
  position: absolute;
  top:500px;
  left:250px;
}


@media only screen and (max-width: 600px) {
  .navbarContainer {
    left: 0px;
  }

  #bgimg {
    height: auto;
    width: auto;
  }

  h2 {
    bottom: 15px;
    left: 1px;

  }

  a {
    top: 10px;
    left: 8px;
  }

  #map {
    height: 900px;
    width: 100%;
    position: fixed;
    top: -750px;
    left: -0%;
  }

  .flex-container {
    position: absolute;
    top: 15%;
    left: -185px;
  }

  .user-info1 {
    position: relative;
    top: -1350px;
    left: -112px;
    width: 550px;
    transform: translateX(1%);
  }
  
}

@media only screen and (min-width: 601px) and (max-width: 920px) {
 
  .navbarContainer {
    right: 2px;
  }

  h1 {
    color: transparent;
  }
  h2 {
    bottom: 15px;
    left: 32px;
  }


  a {
    top: 11px;
    left: 20px;
  }

  #bgimg {
    height: auto;
    width: auto;
  }

  #map {
    height: 700px;
    width: 80%;
    position: fixed;
    top: -550px;
    left: 10.5%;
  }

  .flex-container {
    position: absolute;
    top: 15%;
    left: 50%; 
    transform: translateX(-50%);
  }

  .user-info1 {
    position: relative;
    top: -1350px;
    left: auto;
    width: auto;
    transform: translateX(5%);
  }
}

@media only screen and (min-width: 921px) and (max-width: 1440px) {

  .navbarContainer {
    right: 2px;
  }

  h1 {
    color: transparent;
  }

  h2 {
    bottom: 12px;
    left: 95px;

  }

  a {
    top: 11px;
    left: 30px;
  }

  #bgimg {
    height: auto;
    width: auto;
  }

  #map {
    height: 800px;
    width: 70%;
    position: fixed;
    top: -200px;
    left: 15%;
  }

  .flex-container {
    position: absolute;
    top: 15%;
    left: 50%; 
    transform: translateX(-50%);
  }

  .user-info1 {
    position: relative;
    top: -1350px;
    left: 1%;
    width: auto;
    transform: translateX(5%);
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1820px) {

  a {
    left: 45px;
  }

  .flex-container {
    position: absolute;
    top: 15%;
    left: 50%; 
    transform: translateX(-50%);
  }

  .user-info1 {
    position: absolute;
    top: 80px;
    left: -25px;
    height: 50px;
    padding-right: 55px;
    padding-top: -15px;
    padding-left: -10px;
    transform: translateX(5%);
  }
}