body {
  background-color: black;
}

h4 {
  color: aqua;
  position: relative;
  top: auto;
  left: 1%;

}

.form-container {
  position: fixed;
  display: inline-flex;
  flex-direction: column;
  margin-block-start: 200px;
  margin-inline-start: 600px;
  padding: 10px;
  border-radius: 8px;
  background-color: rgb(61, 7, 61);
  box-shadow: 0.9px 0.9px 20px black;
  padding: 25px;

  #item1,
  #item2,
  #item3,
  #item4 {
    color:aquamarine;
    -webkit-text-fill-color: white;

  }  
}

@media only screen and (max-width:900px) {
  .form-container {
    position: relative;
    margin-block-start: auto;
    margin-inline-start: auto;
    left: 50px;
  }
}