body {
    background-color: rgb(28, 15, 15);
    overflow-x: hidden;
}

#body-dash {
    background-color: black;
}

h1 {
    text-align: center;
    color:rgb(255, 255, 255);
    position: relative;
    margin-top: 10%;
    left: 1%;
}

h2 {
    text-align: center;
    color: lightcyan;
    position: relative;
    top: 1%;
    left: 2%;
}

a {
    text-decoration: none;
    font: 1rem sans-serif;
    color: rgb(255, 88, 249);
}

.form {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 6%;
    position: relative;
    top: auto;
    left: 1%;
}

label {
    font: 1.2rem sans-serif;
    font-weight: bold;
}

input {
    color:red;
}

input[type=text] {
    border: 2px solid red;
    border-radius: 4px;
    height: 25px;
  }

input[type=password] {
    border: 2px solid red;
    border-radius: 4px;
    height: 25px;
  }

button {
    width: 64px;
    height: 38px;
    border: 2px solid red;
    color:darkred;
    position: relative;
    left: 37%;
    

    &:hover{
        cursor: grab;
        filter: drop-shadow(4px 4px 10px red);
        outline: none;
        border-radius: 3px;
        border: 3px solid transparent;
    }
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    color: rgb(255, 88, 249);
}

.navbar{
    display: block;
    position: absolute;
    top: 50px;
    left: 77%;
    
}

#dashboard-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: absolute;
    top: 35%;
    left: 45%;
    a {
        margin: 0 40px 0 0;
    }
}



.user-text {
    color: rgb(255, 0, 247);
    font-weight: bold;
    filter: drop-shadow(2px 2px 0px rgb(84, 3, 78));
}

.hover-link {
    transition: transform 0.35s ease-in-out;
    &:hover{
        transform: scale(1.2); 
        filter: drop-shadow(2px 2px 0px lightcyan);
    }
  }
  
