
$bodycolor: black;
$textColorForFlexItems: white;
$h1fontSize: 32px;
$h1color: red;
$h1fontWeight: bolder;
$h1textShadow: 1px 1px 6px #ff0000;
$h1textAlign: center;
$directionForflexItems: column;
$paddingForFlexItems: .2%;

body {
  perspective: none;
}

img {
  margin-top: -13px;
}

button {
  background-color: lightcoral;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.5s ease-in-out;
  &:hover {
    background: linear-gradient(to right, #3498db, #2ecc71);
    border: none;
    color: #ffffff;
  }
}

:root {
  --bgcolor: red;
  --textcolor: rgb(253, 118, 69);
}

.headerText {
  font-size: $h1fontSize;
  color: var(--textcolor);
  font-weight: var;
  text-shadow: $h1textShadow;
  text-align: $h1textAlign;
}

.navbarContainer {
  /*Container navigacije za odlazak na druge stranice */
  display: inline-flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  right: 245px;
  
}

.flex-container {
  /*Flex container koji sadrzi ispisane informacije o vremenskim podatcima nekog mjesta */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  margin-inline: 30%;
  margin-block: auto;
  top: 23%;
  left: -100px;
  font: 1em sans-serif;
  font-style: oblique;
  width: 55em;

  filter: drop-shadow(2px 2px 10px red);
  

  .flex-item1 {
    flex-direction: directionForflexItems;
    padding: $paddingForFlexItems;
    color: $h1color;
    margin: 1%;
  }

  & .flex-item3,
  & .flex-item4,
  .flex-item2 {
    flex-direction: directionForflexItems;
    padding: $paddingForFlexItems;
    -webkit-text-fill-color: white;
  }

  .flex-item5 {
    flex-direction: directionForflexItems;
    padding: $paddingForFlexItems;
    -webkit-text-fill-color: black;
    margin: 1%;
    text-align: center;
  }

  .flex-item6 {
    flex-direction: directionForflexItems;
    padding: $paddingForFlexItems;
    -webkit-text-fill-color: $textColorForFlexItems;
    margin: 1%;
    padding-top: 25px;
    text-align: center;
  }
}

input {
  border: 2px solid #3498db;
  border-radius: 5px;
  background-color: #ecf0f1;
  padding: 10px;
  color: #2c3e50;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease-in-out;
  &:hover {
    border-color: #e74c3c;
    filter: drop-shadow(10px 10px 100px yellow);
  }
  &:focus {
    outline: none;
    border-color: lightcoral;
    border-width: 25px;
    box-shadow: 0 0 10px rgba(46, 204, 113, 0.5);
    filter: drop-shadow(2px 2px 50px white);
  }
}


@media only screen and (max-width: 510px) {
  .navbarContainer {
    top: 5%;
    left: 45%;
  }

  .flex-container{
    display: flex;
    
    position: absolute;
    margin-left: 20%;
    left: -60%;
    
    
  }
}

@media only screen and (min-width: 511px) and (max-width: 920px) {
 
  .navbarContainer {
    top: 6%;
    left: 42%;
  }

  .flex-container {
    position: absolute;
    top: 15%;
    margin-left: 1%;
    left:-120px;
  }
}

/* Add more breakpoints as needed */
@media only screen and (min-width: 1081px) {
  
  .flex-container {
    /* Adjust styles for the flex container at this width */
  }
}

