$bodycolor: black;

body {
  background-color: bodycolor;
}

header {
  .section-header {
    position: relative;
    height: 100vh;
    overflow: hidden;
    /* background: url('static/images/red.jpg') center/cover no-repeat; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
  }
}

.navbarContainer {
  background-color: none;
  outline: 3px solid red;
  position: relative;
  display: inline-flex;
  width: 100vw;
  min-height: 250px;
  top: 0;
  right: 0;
  z-index: 1;
}

.navbar {
  background-color: none;
  text-align: center;
  width: 650px;
  -webkit-text-fill-color: wheat;
  -webkit-text-size-adjust: initial;

  a {
    float: left;
    padding: 12px 14px;
  }
}
