<!-- artists_audio.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles-artists.css') }}">
    <title>Document</title>

    <script>
        function togglePlayPause() {
            var form = document.getElementById('playForm');
            form.submit();
        }
    </script>

</head>
<body>
    <h1>Artist</h1>

    <!-- <div id = "left-section">

    </div>

    <div id = "right-section">

    </div> -->

    <form id="playForm" action="/artists" method="POST">
        <select name="selected_song">
            {% for song in songs %}
            <option value="{{ song }}">{{ song }}</option>
            {% endfor %}
        </select>
        <button type="button" onclick="togglePlayPause()">Play/Pause</button>
        <button type="submit" name="restart" value="true">Restart</button>

        {% if current_song_name %}
        <p>Currently Playing: {{ current_song_name }}</p>
        {% else %}
        <p>No song currently playing</p>
        {% endif %}
    </form>

    <ul>
        {% for song in songs %}
            <li>
                {{ song }}
                <audio controls="true">
                    <source src="{{ url_for('static', filename='songs/' + song) }}" type="audio/mpeg">
                    
                </audio>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
