<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style-music.css">
    <title>Document</title>
</head>
<body>
    <!--TS i TW = dizajnirat sa sekcijaama (lijevo 1, desno 1)-->
    <!--Stavit osnovnih 5-10 pjesama za svakog-->

    <header class="section-header">
        <img src="static/images/red.jpg">
        <nav class = "navbarContainer">
          <div class="navbar">
            <a href="{{url_for('home')}}">Home</a>
            <div class="dropdown">
              <button class="dropbtn">Weather
                <i class="fa fa-caret-do	wn"></i>
              </button>
              <div class="dropdown-content">
                <a href="{{url_for('get_weather')}}">Search Weather</a>
              </div>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn">Music
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="">Travis Scott</a>
              <a href="">The Weeknd</a>
            </div>
          </div>
          </div>
        </nav>
      </header>
    
    
</body>
</html>