<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/style.css">
  <title>City not found</title>
</head>
<body>
    <h1>City not found</h1>
    <h2>Try again?</h2>
    <form class="container" action="/weather">
        <h2><i class="bi bi-cloud-haze"></i>Weather App</h2>
  
        <div class="form-group">
          <label>City Name</label>
          <input
            type="text"
            class="form-control"
            placeholder="City Name"
            name="city"
          />
        </div>
  
        <br />
        <button type="submit" class="btn btn-primary">Search Now</button>
      </form>
</body>
</html>