<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/style.css">
  <title>Home</title>
</head>
<body>
  
  
  <section class = "header-section">
  <h1>Naslovna</h1>
  <nav>
    <div class="navbar">
      <a href="{{url_for('home')}}">Home</a>
      <div class="dropdown">
        <button class="dropbtn">Weather
          <i class="fa fa-caret-do	wn"></i>
        </button>
        <div class="dropdown-content">
          <a href="{{url_for('get_weather')}}">Search Weather</a>
        </div>
    </div>
      <div class="dropdown">
        <button class="dropbtn">Music  
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="">Travis Scott</a>
          <a href="">The Weeknd</a>
        </div>
      </div>
    </div>
  </nav>
  </section>

  <section class="cool-section">
    <div class="section-content">
      <h2>About me:</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
      <button>Learn More</button>
    </div>
  </section>
  
  <section class="cool-section">
    <div class="section-content">
      <h2>About me:</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
      <button>Learn More</button>
    </div>
  </section>

  <section class="cool-section">
    <div class="section-content">
      <h2>About me:</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
      <button>Learn More</button>
    </div>
  </section>

  <section class="cool-section">
    <div class="section-content">
      <h2>About me:</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
      <button>Learn More</button>
    </div>
  </section>
</body>
</html>