<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  <title>Home</title>
</head>

<body>
  <div id="parallax">
    <div class="header">
      <h1>Hey there, I am <br>
        <span>𝕀𝕧𝕒𝕟 𝔹𝕠š𝕟𝕛𝕒𝕜</span>
      </h1>
      <nav class="navbarContainer">
        <div class="navbar">
          <a href="{{url_for('home')}}">Home</a>
          <div class="dropdown">
            <button class="dropbtn">Weather
              <i class="fa fa-caret-do	wn"></i>
            </button>
            <div class="dropdown-content">
              <a href="{{url_for('get_weather')}}">Search Weather</a>
            </div>
          </div>

          <div class="dropdown">
            <button class="dropbtn">Music
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="">Travis Scott</a>
              <a href="">The Weeknd</a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <div class="cool-section">
    <div class="section-content">
      <h2>About me:</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut perspiciatis unde omnis iste natus error sit
        voluptatem accusantium doloremque laudantium.</p>
      <button>Learn More</button>
    </div>
  </div>

  <div class="cool-section">
    <div class="section-content">
      <h2>About me:</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut perspiciatis unde omnis iste natus error sit
        voluptatem accusantium doloremque laudantium.</p>
      <button>Learn More</button>
    </div>
  </div>

</body>

</html>