<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} Weather</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-weather.css') }}" />
    <script src="https://kit.fontawesome.com/6b0ea6f5c6.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxjWux8Hz1L5m6yQuFrY7m1DGcUrgUmow&callback=initMap"></script>

</head>

<body onload="initMap()">
    <img id="bgimg" src="../static/images/weather.jpg">
    
    <nav class="navbarContainer">
        <h1>Weather Forecast</h1>
        <div class="navbar">
            <h2>{{ title }} : {{ temp }} &deg;C</h2>
            <a href="{{ url_for('home') }} ">
                <i class="fa-solid fa-house fa-2xl" style="color: #ffffff;"></i>
            </a>
        </div>
        </div>
    </nav>

    <div class="flex-container">

        <div class="flex-item1">
            <p class="headerText"> {{ title }} Weather</p>
        </div>
        <div class="flex-item2">
            <p> {{ status }} </p>
        </div>
        <div class="flex-item3">
            <p> {{ temp }} &deg;C </p>
        </div>
        <img src="https://openweathermap.org/img/wn/{{icon}}.png" alt="weather slika">
        <div class="flex-item4">
            <p> Feels like {{ feels_like }} &deg;</p>

        </div>

        <form action="/weather">
            <div class="flex-item5"><input type="text" name="city" id="city" placeholder="Enter a City" /></div>
            <div class="flex-item6"><button type="submit" name="search-btn">Submit</button></div>
        </form>

    </div>

    {% if 'user_id' in session %}
    <div id="map"></div>
    {% endif %}

    <script>
        function initMap() {
            var mapOptions = {
                center: { lat: 45.804, lng: 15.720 },
                zoom: 9,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById('map'), mapOptions);
        }
    </script>



</body>

</html>