<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} Weather</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style-weather.css')}}" />
</head>

<body>
    <nav class="navbarContainer">
        <div class="navbar">
            <a href="{{url_for('home')}}">Home</a>
                <div class="dropdown">
                    <button class="dropbtn">Music
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="">Travis Scott</a>
                        <a href="">The Weeknd</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="flex-container">
        <div class="flex-item1">
            <p class="headerText"> {{ title }} Weather</p>
        </div>
        <div class="flex-item2">
            <p> {{ status }} </p>
        </div>
        <div class="flex-item3">
            <p> {{ temp }} &deg;C </p>
        </div>
        <img src="https://openweathermap.org/img/wn/{{icon}}.png" alt="weather slika">
        <div class="flex-item4">
            <p> Feels like {{ feels_like }} &deg;</p>

        </div>

        <form action="/weather">
            <div class="flex-item5"><input type="text" name="city" id="city" placeholder="Enter a City" /></div>
            <div class="flex-item6"><button type="submit">Submit</button></div>
        </form>
    </div>
</body>

</html>