<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} Weather</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-weather.css') }}" />
    <script src="https://kit.fontawesome.com/6b0ea6f5c6.js" crossorigin="anonymous"></script>

</head>

<body>

    {% if 'user_id' in session %}
    <div class="user-info">
        <span class="username-text">
            {{ session['username'] }}
        </span>
        <span class="icon">
            <i class="fas fa-user"></i>
        </span>

    </div>
    {% endif %}

    <div class="container">
        <div class="left-section">
            <div class="grid-item">
                <img id="album-img" src="../static/images/pinktape.png">

                <audio id="myAudio" controls onended="playNext()">

                    <source src="../static/music/Rehab.mp3" type="audio/mp3">
                    <source src="../static/music/FloodedTheFace.mp3" type="audio/mp3">
                    <source src="../static/music/DaysComeAndGo.mp3" type="audio/mp3">
                </audio>

            </div>
        </div>
    </div>

    <nav class="navbarContainer">
        <div class="navbar">
            <a href="{{ url_for('home') }}">
                <i class="fa-solid fa-house fa-2xl" style="color: #ffffff;"></i>
            </a>
        </div>
        </div>
    </nav>



    <div class="flex-container">
        <div class="flex-item1">
            <p class="headerText"> {{ title }} Weather</p>
        </div>
        <div class="flex-item2">
            <p> {{ status }} </p>
        </div>
        <div class="flex-item3">
            <p> {{ temp }} &deg;C </p>
        </div>
        <img src="https://openweathermap.org/img/wn/{{icon}}.png" alt="weather slika">
        <div class="flex-item4">
            <p> Feels like {{ feels_like }} &deg;</p>

        </div>

        <form action="/weather">
            <div class="flex-item5"><input type="text" name="city" id="city" placeholder="Enter a City" /></div>
            <div class="flex-item6"><button type="submit">Submit</button></div>
        </form>
    </div>

    <script>

        var audioIndex = 0;
        var audioSources = document.getElementById('myAudio').getElementsByTagName('source');
        var audioElement = document.getElementById('myAudio');

        function playNext() {
            audioIndex++;
            if (audioIndex >= audioSources.length) {
                audioIndex = 0;
            }

            audioElement.src = audioSources[audioIndex].src;
            audioElement.play();
        }
        
    </script>

</body>

</html>